{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Production Calculator</title>
    <link rel="stylesheet" href={%static "production.css"%}>
</head>
<body>
    <header>
        <h1>Crop Production Calculator</h1>
    </header>
    <main>
        <section class="calculator-form">
            <h2>Calculate Crop Production</h2>
            <form id="crop-production-calculator"  method = "post">
                {% csrf_token %}
                <label for="crop-name">Crop Name:</label>
                <input type="text" id="crop-name" name = "crop_name" required>
                <label for="land-area">Land Area (acres):</label>
                <input type="number" id="land-area" name = "land_acer" required>
                <label for="crop-yield">Crop Yield (kg/acre):</label>
                <input type="number" id="crop-yield" name = "crop-yield" required>
                <label for="input-cost">Input Cost ($/acre):</label>
                <input type="number" id="input-cost" name = "user_cost" required>
                <label for="market-price">Market Price ($/kg):</label>
                <input type="number" id="market-price" name = "market_price" required>
                <button type="submit">Calculate</button>
            </form>
            {% if name != "" %}
            <p id="production-result">Crop:{{name}} <br>
                Total Production: {{production}} kg<br>
                Total Revenue:{{Revenue}} <br>
                Total Cost: {{cost}}<br>
                Profit: {{profit}}</p>
            {% endif %}
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Crop Production Calculator</p>
    </footer>
    {% comment %} <script src="{% static "script1.js" %}"></script> {% endcomment %}
</body>
</html>
